<?xml version='1.0' encoding='UTF-8' ?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd" >
  
   
    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
        p:location="/WEB-INF/jdbc.properties" />

    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="${jdbc.driverClassName}"
        p:url="${jdbc.url}"
        p:username="${jdbc.username}"
        p:password="${jdbc.password}" />

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    
    <!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
        <property name="configLocation">
            <value>classpath:com/sgse/model/hibernate.cfg.xml</value>
        </property>
		<property name="annotatedClasses">
			<list>
				<value>com.sgse.model.entities.Cliente</value>
                <value>com.sgse.model.entities.Compra</value>
                <value>com.sgse.model.entities.ContratoVenta</value>
                <value>com.sgse.model.entities.Empresa</value>
                <value>com.sgse.model.entities.Factura</value>
                <value>com.sgse.model.entities.Inventario</value>
                <value>com.sgse.model.entities.Permisos</value>
                <value>com.sgse.model.entities.Plan</value>
                <value>com.sgse.model.entities.RegistrarVenta</value>
                <value>com.sgse.model.entities.Reporte</value>
                <value>com.sgse.model.entities.Rol</value>
                <value>com.sgse.model.entities.Salon</value>
                <value>com.sgse.model.entities.Seguro</value>
                <value>com.sgse.model.entities.Servicios</value>
                <value>com.sgse.model.entities.Sucursal</value>
                <value>com.sgse.model.entities.Usuario</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
    
	<!-- Hibernate Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
 
	<!-- Activates annotation based transaction management -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    
</beans>
