/*

*/
/* 
    Created on : 24-nov-2020, 21:28:22
    Author     : Juan Carlos Argüello Ortiz
*/
footer {
    background-color: #191919;
    color: #ADADAD;
    margin-top: 75px;
}

footer h5,footer img {
    margin-top: 5em;
    font-weight: bold;
}

footer address {
    margin-top: 5em;
    margin-bottom: 5em;
    color: #5A5A5A;
}

footer ul {
    margin-bottom: 5em;
}

footer address strong {
    color: #ADADAD;
    display: block;
    padding-bottom: 0.62em;
}

footer a {
    font-weight: 300;
    color: #5A5A5A;
}

footer a:hover {
    text-decoration: none;
    color: #FFF;
}
