/*

*/
/* 
    Created on : 24-nov-2020, 20:54:45
    Author     : Juan Carlos Argüello Ortiz
*/
body{
    background: url(../../resources/images/cementerio-parque.png) no-repeat center center fixed;
    background-size: cover;
}

.container{
    background-color: skyblue;
    border-radius: 10px;
    padding: 25px;
    margin-top: 75px;
}
